*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Oswald', sans-serif;
}
body{
    margin: 0 auto;
}
.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-color: black;
    overflow: visible;
    padding: 0 10%;
    color: white;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
header nav>ul{
    list-style:none;
    display: flex;
}
header nav>ul>li{
    margin-left: 25px;
}
header nav>ul>li>a{
    font-size: 1.25rem;
    font-weight: lighter;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
}
header nav>ul>li>a:hover{

    color:rgba(255, 255, 255, 0.473);

}
header div.logo h4{
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.main-page>h1{
    font-size: 3rem;
    width: 60%;
    text-align: center;
    font-weight:normal;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.main-form{
    align-self: flex-start;
    padding: 30px 40px;
    max-width: 45%;
    background-color: rgb(214, 0, 0);
    border: 1px solid white;
}
.main-form>h3{
    font-weight: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.main-form>form>input{
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    width: 45%;
    margin: 5px 5px 5px 0px ;
}
.main-form>form>button{
    color: white;
    background-color: rgb(22, 22, 22);
    border: 1px solid black;
    padding: 5px 10px;
    width: 45%;
    margin:5px 0 25px 0;
    text-transform: uppercase;
}
.main-checklist{
    align-self: flex-start;
    margin:10px 0;
    list-style: none;
    margin-bottom: 40px;
}

.main-checklist>li>i{
    display: inline;
    color: rgb(214, 0, 0);
    font-size: 1.25rem;
}
.main-checklist>li>p{
    display: inline;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.resume{
    width: 100%;
    padding: 0 10%;
    display: flex;
}
.resume>img{
    width: 50%;
}
.resume>.resume-text{
    padding: 40px 40px;
}
.resume>.resume-text>h2{
    color:rgb(214, 0, 0);
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.resume>.resume-text>p{
    text-align: justify;
    margin-bottom: 10px;
    font-weight: normal;
}

.videos{
    width: 100%;
    padding: 0 10%;
    display: flex;
    background-color: #303030;
    align-items: center;
    flex-direction: column;
}
.videos>h1{
    margin-top: 45px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2rem;
    color:rgb(214, 0, 0);
}

.videos>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 50px;
}
.videos>ul>li{
    flex-basis: 32%;
}
.videos>ul>li img{
    width: 100%;
}
.videos>ul>li p{
    color:white;
    font-size: 1.25rem;
}

.quotes{
    background-color: #303030;
    padding: 0 10%;
}
.quotes>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.quotes>ul>li{
    flex-basis:30%;
    margin-top: 50px;
    margin-bottom: 65px;
}
.quotes>ul>li p{
    color: white;
}
.quotes>ul>li h4{
    color: rgb(214, 0, 0);
}
footer{
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 30px 0;
}
@media (max-width:800px){
    .main-form{
        align-self: center;
        max-width: 100%;
    }
    .main-form>form>input{
        width: 100%;
    }
    .resume img{
        display: none;
    }
    .videos>ul{
        flex-direction: column;
    }
    .videos>ul>li{
        margin-bottom: 60px;
    }
    .quotes>ul{
        flex-direction: column;
    }
}